* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boek {
    padding: 1em;
    clear: left;
}

.boek__cover {
    float: left;
    padding: 0 3rem 0 0;
    max-width: 300px;
}

.boek__kopje {
    margin-top: 0;
    font-size: 1.5em;
    color: royalblue;
}

.boek__paginas::after,
.boek__uitgave::after,
.boek__ean::after {
    content: " | ";
}

.boek__prijs {
    font-size: 2em;
    color: royalblue;
}